<div class="settings">
  <nav>
    <%= link_to 'アカウント', account_user_path(@user) %>
    <%= link_to 'プロフィール', profile_user_path(@user), class: 'active' %>
  </nav>
  <div class="content">



    <h2>プロフィール</h2>
    <p>アイコン画像: <%= image_tag @user.icon.attached? ? @user.icon : "default-icon.png" %></p>
    <p>名前: <%= @user.name %></p>
    <p>自己紹介: <%= @user.introduction %></p>
    <%= link_to '編集', edit_profile_user_path(@user), class: 'edit-button' %>
  </div>
</div>

