<h1>東京の施設一覧</h1>
<p><%= @rooms.size %> 件が見つかりました。</p>

<div class="room-grid">
  <% @rooms.each do |room| %>
    <div class="room-card">
      <%= image_tag(room.image.attached? ? room.image : 'room.png', class: 'room-image') %>

      <h2 class="room-title">
        <%= link_to room.name, room_path(room) %>
      </h2>

      <p class="room-address"><%= room.address %></p>
      <p class="room-desc"><%= truncate(room.description, length: 80) %></p>

      <p class="room-price">¥<%= number_with_delimiter(room.price) %>~</p>

      <%= link_to '詳細はこちら', room_path(room), class: 'details-button' %>
    </div>
  <% end %>
</div>
